/* layout of the buttons in the controller */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    width: 90%;
    height: 90%;

    /* some magic */
    max-height: calc(90vw / 4 * 2);
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 0.1rem solid #ccc;
    font-size: 5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

/* .grid-item:hover {
    transform: scale(1.01);
    background-color: #e0e0e0;
} */

.grid-item:active,
.grid-item.pressed {
    transform: scale(1.01);
    background-color: #e0e0e0;
}

/* positions of buttons */
.control-w {
    grid-column: 1;
    grid-row: 1;
}

.control-s {
    grid-column: 1;
    grid-row: 2;
}

.control-e {
    grid-column: 2;
    grid-row: 1;
}

.control-f {
    grid-column: 3;
    grid-row: 2;
}

.control-a {
    grid-column: 3;
    grid-row: 1;
}

.control-d {
    grid-column: 4;
    grid-row: 1;
}